#wrap{
	position: relative;
	width: 960px;
	overflow: hidden;
	
}



.product-image-wrapper:nth-child(3n+1) {
        margin-left: 0;   
        width: 250px;
	height: 310px;
	float:left;
	margin-bottom: 60px;
     
}

.product-image-wrapper:nth-child(3n+2) {
        margin-left: 40px;  
        width: 250px;
	height: 310px;
	float:left;
	margin-bottom: 60px;
	
}

.product-image-wrapper:nth-child(3n+0) {
        margin-left: 40px; 
	width: 250px;
	height: 310px; 
	float:left; 
	margin-bottom: 60px;
	
     
}

